*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
   display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh; 
  background-color: #ffffff;
}




Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
}
.left-content{
font-size: 4.5rem;
margin-left: 10px;
}
.right-content{
 display: flex;
 flex-direction: column;
  justify-content: center;
  align-items: center;
}
.switch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  margin : 3px;
  
  }

#light Header {
  background-color: #3D3B40;
  color: #ffffff;
}

#dark Header {
  background-color: #252B48;
  color: #F1F6F9;
}
.user-list ul {
  display: flex;
  flex-wrap: wrap;
}

.user-list ul li {
  list-style: none;
}

.single-user {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center; 
  width: 300px;
  border-radius:15px;
  margin: 40px;
  padding: 40px 50px;
  cursor: pointer;
  

}
.single-user .user-info {
  margin-top: 15px;
}
#light .single-user {
  background-color: #526D82;
  color: #fff;
}

#dark .single-user {
  background-color: #9DB2BF;
  color: #070707;
}
.single-user img {
  
  width: 200px;
}


.checkbox{
 margin-left: 200px;
}



.detailed-user{
  display: flex;
  align-items: center;
  width: 750px;
  border-radius: 10px;
  margin: 20px;
  padding: 10px 20px;
  background-color: #333;
}
 
 .detailed-info {
  font-family: Arial, sans-serif;
  margin-left: 40px;
}
.detailed-info h1 {
  font-size: 24px;
  margin-bottom: 10px;
}
.detailed-info p {
  font-size: 16px;
  margin-bottom: 5px;
}

#light .detailed-user {
  background-color: #526D82;
  color: #fff;
}

#dark .detailed-user {
  background-color: #9DB2BF;
  color: #070707;
}
.detailed-user img {
width: 200px;
  height: auto;
  margin-right: 20px;
}